src/test/resources/xml/phone.xsd

<xs:schema 	xmlns:xs='http://www.w3.org/2001/XMLSchema'>

<xs:complexType name="phoneType">
	<xs:simpleContent>
		<xs:extension base="xs:string">
			<xs:attribute name="location" type="xs:string" />
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>

<xs:complexType name="personType">
	<xs:sequence>
		<xs:element name="name" type="xs:string" />
		<xs:element name="phone" type="phoneType" />
	</xs:sequence>
</xs:complexType>

<xs:element name="phone_book">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="person" type="personType" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>
